<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-purple-600 text-2xl mb-6">CHANNAMAX BHARATA</br></br>
      <span class="text-gray-800 font-bold tracking tracking-widest">PALING AMPUH </br>HILANGKAN</span></h1>
      {# <h2 class="font-bold tracking-widest text-4xl"></h2> #}
        <span class="content__container block font-light text-browngray text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">SIPILIS</li>
            <li class="content__container__list__item xl:pl-3">KENCING NANAH</li>
            <li class="content__container__list__item xl:pl-3">GONORE</li>
            <li class="content__container__list__item xl:pl-3">KENCING BERDARAH</li>
            <li class="content__container__list__item xl:pl-3">RAJA SINGA</li>
            <li class="content__container__list__item xl:pl-3">KLAMIDIA</li>
            <li class="content__container__list__item xl:pl-3">KUTIL KELAMIN</li>
          </ul>

<!-- Sizes and positioning
<img class="object-none object-center bg-yellow-300 w-24 h-24" src="/crazy-background-image.png" -->

        </span>
        <p class="font-bold tracking-widest">BAHAYA PENYAKIT KELAMIN</br>
        JANGAN DI TUNDA-TUNDA LAGI</br>
        DAPAT BERAKIBAT FATAL</br></br>
        HUBUNGU KAMI</br>
        KAMI AKAN SEGERA MEMBANTU ANDA</br>
        SAMPAI SEMBUH
        </p>
    </div>
    <div  class="w-full sm:w-1/2 justify-center flex-ro">
      <img absolute w-[762px] h-[918px] top-[-325px] right-[62px] md:top-[-400px] md:right-[80px]" src="/img/Kencing nanah.jpeg" alt="Obat Sipilis Kencing Nanah Ampuh">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-red-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="https://api.whatsapp.com/send?phone=6281&text=Halo%20Admin.%20Saya%20Mau%20Pesan%20Obat%20Kencing%20Nanah%20Ampuh">Konsultasi Gratis</a>
</div>
